<div class="entire-wrapper">
  <div class="side-bar-wrapper">
    <%= render "shared/side_bar" %>
  </div>
  <div class="wrapper">
    <div class="header-wrapper">
      <%= render "shared/header" %>
    </div>
    <div class="main-wrapper">
      <%= render "shared/main" %>
    </div>
    <div class="form-wrapper">
      <%= render "shared/form" %>
    </div>
  </div>
</div>
