<div class="entire-wrapper">
  <div class="side-bar-wrapper">
    <%= render "shared/side_bar" %>
  </div>
  <div class="wrapper">
      <%= render "shared/header" %>
      <%= render "shared/main" %>
      <%= render "shared/form" %>
  </div>
</div>
