<div class="new-wrapper">
  <div class="new-header">
    <%= render "shared/header" %>
  </div>
  <div class="new-main">
    <%= render "shared/main" %>
  </div>
  <div class="new-form">
    <%= render "shared/form" %>
  </div>
</div>