<div class="index-wrapper">

  <div class="index-side-bar">
    <%= render "shared/side_bar" %>
  </div>

  <div class="index-main-bar">
    <div class="index-header">
      <%= render "shared/header" %>
    </div>
    <div class="index-main">
      <%= render "shared/main" %>
    </div>
  </div>

</div>