<div class="show-wrapper">
  <div class="show-side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="show-main-bar">
    <div class="show-header">
      <%= render "shared/header" %>
    </div>
    <div class="show-main">
      <%= render "shared/main" %>
    </div>
  </div>
</div>