<%= form_with model: @target, class: 'form-group', local: true do |f| %>
  <div class="input-wrap">
    <div class='target-date-wrap'>
      <p class="form-label">Target</p>
        <%= raw sprintf(
                  f.date_select(
                    :target_date,
                    class:'target-date',
                    id:"target-date",
                    use_month_numbers: true,
                    start_year: 1970,
                    end_year: (Time.now.year + 200),
                    date_separator: '%s'),
                  "<span>年&nbsp;</span>", "<span>月&nbsp;</span>") + "<span>日</span>" %>
      </div>
    <div class="content">
      <%= f.text_area :content, placeholder: "目標またはステータスを入力" %>
    </div>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>