<div class="form-group">
  <div class="input-wrap">
    <div class="form-date-wrap">
      <input class="form-date" placeholder= "select target date">
    </div>
    <div class="form-target-wrap">
      <input class="form-target" placeholder= "type a target">
    </div>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>