<div class="left-header">
  <div class="logo">My Life Game</div>
  <div class="header-nickname">難波六田</div>
</div>
<div class="devise-header">
  <div class="log-in">log_in</div>
  <div class="sign-up">sign_up</div>
</div>