<div class="targets">
  <div class="target">
    <div class="upper-target">
      <div class="taget-date">
        達成予定日 : 2020/10/23
      </div>
    </div>
    <div class="lower-target">
      <div class="target-content">
        月に行くaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
    </div>
    <div class="side-target">
      <div class="target-fight">ガンバ！</div>
      <div class="target-achieve">achieve</div>
      <div class="target-edit">edit</div>
    </div>
  </div>  
  
  <div class="target">
    <div class="upper-target">
      <div class="taget-date">
        達成予定日 : 2020/10/23
      </div>
    </div>
    <div class="lower-target">
      <div class="target-content">
        月に行くaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
    </div>
    <div class="side-target">
      <div class="target-fight">ガンバ！</div>
      <div class="target-achieve">achieve</div>
      <div class="target-edit">edit</div>
    </div>
  </div>  

</div>
  
<div class="achieves">
  <div class="target">
    <div class="upper-target">
      <div class="taget-date">
        達成予定日 : 2020/10/23
      </div>
    </div>
    <div class="lower-target">
      <div class="target-content">
        月に行くaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
    </div>
    <div class="side-target">
      <div class="target-fight">ガンバ！</div>
      <div class="target-achieve">achieve</div>
      <div class="target-edit">edit</div>
    </div>
  </div>

  <div class="target">
    <div class="upper-target">
      <div class="taget-date">
        達成予定日 : 2020/10/23
      </div>
    </div>
    <div class="lower-target">
      <div class="target-content">
        月に行くaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
    </div>
    <div class="side-target">
      <div class="target-fight">ガンバ！</div>
      <div class="target-achieve">achieve</div>
      <div class="target-edit">edit</div>
    </div>
  </div>

</div>