<table  class="side-bar">
  <thead>
    <tr><th>
    <%= link_to "マイページへ", new_target_path(current_user), class: "my-page" %> </th></tr>
  </thead>
  <tbody>
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>agggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
    <tr><td>aaaasffffffffffffffffffffffffffffffgggggggggggggggggggffaaaa</td></tr>   
  </tbody>
</table>