<table  class="side-bar">
  <thead>
    <tr><th>
    <% if user_signed_in? %>
    <%= link_to "マイページ", new_target_path(current_user), class: "my-page" %>
    <% else %>
    <%= link_to "ログイン",                      new_user_session_path, class: "my-page" %>
    <% end %>
     </th></tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr><td>
      <%= link_to user.name, target_path(user.id), class: "name-nav" %>
        </td></tr>   
    <% end %>
  </tbody>
</table>