<table>
  <thead class="side-bar-header">
    <tr><th class="side-bar-header-nickname">難波六田</th></tr>
  </thead>
  <tbody class="side-bar-main">
    <tr><td class="side-bar-main-nickname">aaaasaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaasssaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaasssssssaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
    <tr><td class="side-bar-main-nickname">aaaaaaaa</td></tr>   
  </tbody>
</table>