.header-wrapper{
  border-bottom: 5px solid rgb(39, 39, 148);
  height: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header{
  margin-left: 25px;
}
.logo{
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.header-nickname{
  margin: 5px 0;
}

.devise-header{
  display: flex;
}

.nav-link{
  margin-right: 20px;
  text-decoration: none;
}