thead.side-bar-header.side-bar-header,tbody.side-bar-main{
  background-color: rgb(26, 26, 109);
  color: aliceblue;
  border-right: 5px solid brown;
  width: 350px;
  display: flex;
  align-items: center;
}

thead.side-bar-header{
  height: 125px;
  border-bottom: 5px solid white;
  justify-content: center;
}

tbody.side-bar-main{
  overflow-y: scroll;
  height: calc(100vh - 125px) ;
  flex-direction: column;
}

th.side-bar-header-nickname,td.side-bar-main-nickname{
  word-wrap: break-word;
  width: 300px;
  display: block;
}

td.side-bar-main-nickname{
  margin-top: 30px;
}