.sign-up,.log-in,.user-edit{
  margin-left: 25px;
}

.devise-title{
  font-size: 25px;
  margin-top: 10px;
}

.field{
  margin-top: 10px;
}

.free-time{
  font-size: 25px;
}

.private-mode{
  width: 30px;
  height: 30px;
}

.actions{
  margin-top: 25px;
  font-size: 20px;
}